django
streamlit
langchain
langchain_community
langchain_core
torch
pandas
datasets
transformers
langchain_chroma
langchain_huggingface
mysql.connector
groq
MySQL
python-dotenv
pysqlite3
pysqlite3-binary