{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurer Protal</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'claims.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
</head>
    <body>
        <nav id="navbar">
            <div class="cts"> <img src="{% static 'imgs\logo.png' %}" alt=""></div>
            <div class="nav-cont"> <a href="{% url 'insurer:insurer' %}">Home</a></div>
            <div class="nav-cont"><a href="{% url 'insurer:show_users' %}">Search Users</a></div>
            <ul>
                <!-- <li>login</li> -->
                <li><a href="{% url 'homepage:logout' %}">Logout</a></li>
            </ul>
        </nav>
        <section class="claim-section">
            <h2>Search Claims</h2>
            <div class="filter_div">
                <div>
                    <input type="text" placeholder="Search with user id" name="filteruser" id="filteruser"/>
                    <button id="filterBtn" onclick="filterUserID()">Search</button>
                </div>
                <div>
                    <input type="text" placeholder="Search by policy Name" name="filterpolicy" id="filterpolicy"/>
                    <button id="filterBtn" onclick="filterpolicyname()">Search</button>
                </div>
            </div>
            <table class="utable">
                <tr>
                    <th>Claim ID</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Policy_Name</th>
                    <th>Applied Date</th>
                    <th>Claimed Date</th>
                    <th>Hospital Name</th>
                    <th>Claimed Amount</th>
                    <th>Claim Info</th>
                </tr>
            </table>
        </section>
    </body>
    <script type="text/javascript">
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'claim.js' %}"></script>
    <script src="{% static 'common.js' %}"></script>
</html>